{% extends "base.html" %}
{% block content %}
<body>
<style>
    .main_page_container {
      display: flex;
      justify-content: center;
    }
</style>
<div class="main_page_container">
    {% if is_authenticated %}
    <h2>Добро пожаловать на сайт проекта "Railway Revolution", {{ current_user.name }}!</h2>
    {% else %}
    <h2>Добро пожаловать на сайт проекта "Railway Revolution"!</h2>
    {% endif %}
</div>
<div style="font-size: 26px;">
    &emsp; Мы рады, что вы заинтересовались нашим проектом, посвященным увлекательному миру железнодорожного транспорта
    и современной логистики.
</div>
<div style="font-size: 26px;">
    &emsp; Железные дороги - это не только средство передвижения, но и важное звено в мире логистики. Наш проект
    предлагает возможность изучить работу поездов в вымышленном мире железных дорог.
</div>
<div style="font-size: 26px;">
    &emsp; Мы также рассматриваем возможность присоединения к нашему проекту новых участников.
</div>
<div style="font-size: 26px;">
    &emsp; Сейчас же предлагаем ознакомиться с верхними вкладками. Там можно найти много чего интересного...
</div>
<div style="font-size: 26px;">
    &emsp; Перед началом работы, просьба авторизоваться в системе. Так нам легче искать хороших людей 😊.
</div>
<div style="font-size: 26px;">
    &emsp; Ссылка на наш проект: <a href="https://github.com/Neonchik4/Railway_Revolution" target="_blank"
                             rel="noopener noreferrer">https://github.com/Neonchik4/Railway_Revolution</a>
   <div style="font-size: 26px;">&emsp; Вы можете присоединиться в качестве контрибьютора.</div>
</div>
<div style="display:flex; justify-content: center;">
    <img src="/static/img/train_gif_animation.gif" alt=":(">
</div>


</body>
{% endblock %}